@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    background-color: #FAFAFA;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.box1,
.box2,
.bottom {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    text-align: center;
}

.content1 {
    position: relative;
    border: .2px solid #DBDBDB;
    padding: 15px 15px;
    margin-top: 10px;
}

.box1 #logo {
    align-items: center;
    position: relative;
    width: 12.5rem;
    padding-bottom: 30px;
}

.box2 {
    border: .2px solid #DBDBDB;
    margin-top: 10px;
    padding: 20px 20px;
    background-color: #ffffff;
}

input {
    background-color: #E8F1FE;
    border: .2px solid #DBDBDB;
    width: 80%;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px 2px;
    margin: 3px 0;
}

input::placeholder {
    font-size: 10px;
    color: #8f8f8f;
    margin-bottom: -203px;
}

#pssw {
    width: 62.3%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#psswrd-btn {
    background-color: white;
    font-size: 14px;
    color: #262626;
    display: inline;
    font-weight: bold;
    padding: 9.3px 10px 10px 10px;
    margin: 3px 0;
    border-top: 1.2px solid #DBDBDB;
    border-bottom: 1.2px solid #DBDBDB;
    border-right: 1.2px solid #DBDBDB;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn {
    background-color: #0095F6;
    border: none;
    width: 80%;
    padding: 6px;
    margin: 10px 10px 15px 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: .87rem;
}

#apple,
#google {
    width: 38%;
    margin: 0 2px;
}

.bottom {
    margin: 15px 0;
    text-align: center;
}

#fblogo {
    width: 5%;
    display: inline-block;
    margin: -3px 3px;
}

.separator {
    color: #999999;
    margin-top: 2px;
    display: block;
    font-size: 13px;
    font-weight: 700;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";
    position: absolute;
    background-color: #eee;
    height: 1px;
    top: 50%;
    width: 40%;
    transform: translateY(-50%);
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

footer {
    padding: 5rem 0;
}

footer .container {
    display: inline-flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 0;
    margin-left: 230px;
}

footer .container ul {
    list-style: none;
    flex-wrap: wrap;
}

footer .container ul li {
    color: #01386A;
    padding: 10px;
    display: inline;
}

.copyright {
    color: #999999;
    display: inline;
    font-size: .7rem;
    font-weight: bolder;
}