@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.box1 {
    position: relative;
    display: block;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 25%;
}

.content1 {
    position: relative;
    text-align: center;
    border: .2px solid #DBDBDB;
}

.box1 #logo {
    align-items: center;
    position: relative;
    width: 13rem;
    margin: 0 auto;
}